@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--font-poppins: var(--font-poppins-sans-serif);
	--font-lora: var(--font-lora-serif);
}

body {
	background: var(--background);
	color: var(--foreground);
}
